/*
     _    ____  ____  _     ___ ____    _  _____ ___ ___  _   _ 
    / \  |  _ \|  _ \| |   |_ _/ ___|  / \|_   _|_ _/ _ \| \ | |
   / _ \ | |_) | |_) | |    | | |     / _ \ | |  | | | | |  \| |
  / ___ \|  __/|  __/| |___ | | |___ / ___ \| |  | | |_| | |\  |
 /_/   \_\_|   |_|   |_____|___\____/_/   \_\_| |___\___/|_| \_|
                                                                                                                                                                                                      
*/
/*
 __     ___    ____  ____  
 \ \   / / \  |  _ \/ ___| 
  \ \ / / _ \ | |_) \___ \ 
   \ V / ___ \|  _ < ___) |
    \_/_/   \_\_| \_\____/ 
                           
*/
/* ## App specific SCSS ## */
/* ## Google Font Imports ## */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);
/*
  _____ ___  _   _ _   _ ____    _  _____ ___ ___  _   _    _____     _______ ____  ____  ___ ____  _____ ____  
 |  ___/ _ \| | | | \ | |  _ \  / \|_   _|_ _/ _ \| \ | |  / _ \ \   / / ____|  _ \|  _ \|_ _|  _ \| ____/ ___| 
 | |_ | | | | | | |  \| | | | |/ _ \ | |  | | | | |  \| | | | | \ \ / /|  _| | |_) | |_) || || | | |  _| \___ \ 
 |  _|| |_| | |_| | |\  | |_| / ___ \| |  | | |_| | |\  | | |_| |\ V / | |___|  _ <|  _ < | || |_| | |___ ___) |
 |_|   \___/ \___/|_| \_|____/_/   \_\_| |___\___/|_| \_|  \___/  \_/  |_____|_| \_\_| \_\___|____/|_____|____/ 
                                                                                                                                        
*/
/*
 __     ___    ____  ____  
 \ \   / / \  |  _ \/ ___| 
  \ \ / / _ \ | |_) \___ \ 
   \ V / ___ \|  _ < ___) |
    \_/_/   \_\_| \_\____/ 
                           
*/
/* ## App specific SCSS ## */
/* ## Google Font Imports ## */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);
.orbit-bullets {
  display: none;
}

.orbit-timer {
  display: none;
}

.orbit-slide-number {
  display: none;
}

.top-bar {
  background-image: url("../img/superhero_stripe.jpg");
  background-repeat: repeat;
  background-color: transparent;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;
  height: 55px;
}
@media only screen and (max-width: 40em) {
  .top-bar {
    background-color: #333 !important;
    background-image: none !important;
  }
}

@media only screen and (max-width: 40em) {
  .top-bar-section {
    margin-top: 10px;
    background-color: #00616D !important;
    background-image: none !important;
  }
}
@media only screen and (max-width: 40em) {
  .top-bar-section ul {
    background-color: #222 !important;
  }
}
.top-bar-section ul li {
  background-color: transparent !important;
  margin-top: 12px;
  padding: 0px;
}
@media only screen and (max-width: 40em) {
  .top-bar-section ul li {
    background-color: #222 !important;
    text-align: center;
    border-bottom: 1px solid #888888;
    margin-top: 0px;
  }
  .top-bar-section ul li:hover {
    background-color: #63BFC0 !important;
  }
}
.top-bar-section ul li .right li {
  border-right: 2px solid #00616D;
}
.top-bar-section ul li a {
  text-transform: uppercase;
  font-size: .95rem !important;
  color: white;
  height: 100%;
}
.top-bar-section ul li a:hover {
  color: orange;
  border-bottom: 3px solid orange;
}
@media only screen and (max-width: 40em) {
  .top-bar-section ul li a:hover {
    border-bottom: 0px;
  }
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: transparent !important;
  background-color: transparent !important;
}

@media only screen and (max-width: 40em) {
  .right li {
    background-color: red !important;
  }
}

.orbit-caption {
  display: none !important;
}

/*
  ____  _   _ ____  _____ ____  _   _ _____ ____   ___  
 / ___|| | | |  _ \| ____|  _ \| | | | ____|  _ \ / _ \ 
 \___ \| | | | |_) |  _| | |_) | |_| |  _| | |_) | | | |
  ___) | |_| |  __/| |___|  _ <|  _  | |___|  _ <| |_| |
 |____/ \___/|_|   |_____|_| \_\_| |_|_____|_| \_\___/ 
                                                                                                                                                                                                                                                                                                                                                                                                   
*/
/*
 __     ___    ____  ____  
 \ \   / / \  |  _ \/ ___| 
  \ \ / / _ \ | |_) \___ \ 
   \ V / ___ \|  _ < ___) |
    \_/_/   \_\_| \_\____/ 
                           
*/
/* ## App specific SCSS ## */
/* ## Google Font Imports ## */
.superhero {
  background-image: url("http://www.paragonkitchen.com/wp-content/themes/paragonkitchen/img/superhero_stripe.jpg");
  background-repeat: repeat;
  background-color: #63BFC0;
  padding-bottom: 30px;
  border-bottom: 5px solid #003B3D;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .superhero {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 40em) {
  .superhero {
    padding-bottom: 20px;
  }
}
.superhero .superhero-inside {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  padding: .5em;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px #444;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .superhero .superhero-inside {
    box-shadow: none;
    padding: 4px;
    margin-top: 2em;
  }
}
@media only screen and (max-width: 40em) {
  .superhero .superhero-inside {
    box-shadow: none;
    padding: 4px;
    margin-top: 4.8em;
  }
}

/*
  ____  _   _ _____ _____ ___  _   _ ____  
 | __ )| | | |_   _|_   _/ _ \| \ | / ___| 
 |  _ \| | | | | |   | || | | |  \| \___ \ 
 | |_) | |_| | | |   | || |_| | |\  |___) |
 |____/ \___/  |_|   |_| \___/|_| \_|____/ 
                                                                                                                                                                                                                                              
*/
/*
 __     ___    ____  ____  
 \ \   / / \  |  _ \/ ___| 
  \ \ / / _ \ | |_) \___ \ 
   \ V / ___ \|  _ < ___) |
    \_/_/   \_\_| \_\____/ 
                           
*/
/* ## App specific SCSS ## */
/* ## Google Font Imports ## */
.button i {
  margin-right: 8px;
}

.scrolltotop-button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: none;
  background-color: #FBAA38;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
}
@media only screen and (max-width: 40em) {
  .scrolltotop-button {
    width: 100%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin-top: 0px;
  }
}
.scrolltotop-button:hover {
  background-color: #e28605;
}

.view-button {
  background-color: #FBAA38;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
}
@media only screen and (max-width: 40em) {
  .view-button {
    width: 100%;
  }
}
.view-button:hover {
  background-color: #e28605;
}

.send-button {
  background-color: #FBAA38;
  color: #FFFFFF;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  text-transform: uppercase;
}
.send-button:hover {
  background-color: #e28605;
}

.wpcf7-submit {
  background-color: #FBAA38;
  color: #FFFFFF;
  padding: 12px 23px 12px 23px;
  margin-top: 10px;
  text-transform: uppercase;
  border: none !important;
  font-size: 1rem;
}
.wpcf7-submit:hover {
  background-color: #e28605;
}

.cancel-button {
  background-color: #bbb;
  color: #FFFFFF;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  text-transform: uppercase;
}
.cancel-button:hover {
  background-color: #959595;
}

html, body {
  background-image: url("http://www.paragonkitchen.com/wp-content/themes/paragonkitchen/img/superhero_stripe.jpg");
  background-repeat: repeat;
  background-color: #63BFC0;
  overflow-x: hidden;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.body-main {
  min-height: 400px;
  background-color: #FFFFFF;
}

.name a img {
  max-width: 150px;
  position: absolute;
  top: 4px;
  left: 20px;
}
@media only screen and (max-width: 40em) {
  .name a img {
    width: 145px;
    position: absolute;
    top: 4px;
    left: 12px;
  }
}

h1.events-header {
  text-align: center;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-weight: 300;
  font-size: 2.3rem;
}
@media only screen and (max-width: 40em) {
  h1 {
    font-size: 1.9rem;
  }
}

h2.page-header {
  width: auto;
  max-width: 300px;
  background-color: #00343a;
  color: #FFFFFF;
  font-family: "Dancing Script", cursive;
  font-weight: 300;
  font-size: 1.8rem;
  padding: 5px 30px 5px 30px;
  margin: 40px 0px 30px 0px;
  text-align: center;
}
@media only screen and (max-width: 40em) {
  h2.page-header {
    width: 100%;
    max-width: none;
    margin: 40px 0px 0px 0px;
    padding: 5px 15px 5px 15px;
  }
}

blockquote {
  font-size: 1.4rem;
  color: #00616D;
  border-left: 3px solid orange;
}
@media only screen and (max-width: 40em) {
  blockquote {
    font-size: 1.2rem;
  }
}

/*
     _    ____   ___  _   _ _____ 
    / \  | __ ) / _ \| | | |_   _|
   / _ \ |  _ \| | | | | | | | |  
  / ___ \| |_) | |_| | |_| | | |  
 /_/   \_\____/ \___/ \___/  |_|  
                                                                                                                                                                                                                                      
*/
/*
 __     ___    ____  ____  
 \ \   / / \  |  _ \/ ___| 
  \ \ / / _ \ | |_) \___ \ 
   \ V / ___ \|  _ < ___) |
    \_/_/   \_\_| \_\____/ 
                           
*/
/* ## App specific SCSS ## */
/* ## Google Font Imports ## */
.contact-me-box {
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 40em) {
  .contact-me-box {
    background-color: #eee;
    color: #FFFFFF;
    padding: 10px 0px 5px 0px;
  }
}
.contact-me-box .contact-tape {
  text-align: center;
}
.contact-me-box .contact-tape img {
  margin-top: -34px;
}
.contact-me-box h4 {
  padding-left: 30px;
}
.contact-me-box button {
  background-color: #FBAA38;
  margin-left: 20px;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
  margin-left: 30px;
}
.contact-me-box button:hover {
  background-color: #e28605;
}

.about-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  padding: 0px 0px 40px 0px;
  background-color: #FFFFFF;
  background-image: url("http://www.paragonkitchen.com/wp-content/themes/paragonkitchen/img/sketch_veges_beet.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40%;
}
.about-body .about-body-left {
  width: 25%;
  padding: 30px 0px 0px 70px;
}
.about-body .about-body-left img {
  width: 100%;
}
@media only screen and (min-width: 90.063em) and (max-width: 124em) {
  .about-body .about-body-left {
    width: 25%;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .about-body .about-body-left {
    width: 30%;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .about-body .about-body-left {
    width: 45%;
  }
}
@media only screen and (max-width: 40em) {
  .about-body .about-body-left {
    width: 100%;
    padding: 30px 0px 30px 0px;
    text-align: center;
  }
}
.about-body .about-body-left img {
  max-width: 360px;
}
.about-body .about-body-right {
  width: 75%;
  padding: 60px 130px 0px 30px;
}
@media only screen and (min-width: 90.063em) and (max-width: 124em) {
  .about-body .about-body-right {
    width: 70%;
    padding: 60px 130px 0px 60px;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .about-body .about-body-right {
    width: 65%;
    padding: 60px 100px 0px 90px;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .about-body .about-body-right {
    width: 55%;
    padding: 60px 50px 0px 20px;
  }
}
@media only screen and (max-width: 40em) {
  .about-body .about-body-right {
    width: 100%;
    padding: 30px 50px 0px 50px;
  }
}
.about-body .about-body-right h1 {
  font-family: "Dancing Script", cursive !important;
  font-size: 2.5rem !important;
  padding: 0px;
  margin: 0px;
  font-weight: 500 !important;
}
.about-body .about-body-right h4 {
  font-family: "Dancing Script", cursive;
  font-size: 2.2rem;
  padding: 0px;
  margin: 0px;
}
.about-body .about-body-right p {
  font-size: 1.1rem;
  line-height: 1.65rem;
}
.about-body .about-body-right span {
  padding: 0px;
  margin: 0px;
}

.chef-name {
  color: #63BFC0;
  font-family: "Dancing Script", cursive;
  font-weight: 300;
  font-size: 2.2rem;
  height: 10px;
}
@media only screen and (max-width: 40em) {
  .chef-name {
    font-size: 2.4rem;
    color: #222;
    height: 8px;
  }
}

.chef-title {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}
@media only screen and (max-width: 40em) {
  .chef-title {
    font-size: 1.1rem;
    font-weight: 300;
    color: #222;
  }
}

/*
   ____    _    _     _____ _   _ ____    _    ____  
  / ___|  / \  | |   | ____| \ | |  _ \  / \  |  _ \ 
 | |     / _ \ | |   |  _| |  \| | | | |/ _ \ | |_) |
 | |___ / ___ \| |___| |___| |\  | |_| / ___ \|  _ < 
  \____/_/   \_\_____|_____|_| \_|____/_/   \_\_| \_\
                                                                                                                                                                                                                                                                                                 
*/
/*
 __     ___    ____  ____  
 \ \   / / \  |  _ \/ ___| 
  \ \ / / _ \ | |_) \___ \ 
   \ V / ___ \|  _ < ___) |
    \_/_/   \_\_| \_\____/ 
                           
*/
/* ## App specific SCSS ## */
/* ## Google Font Imports ## */
.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.events-container {
  padding: 0px 50px 0px 50px;
}

.classes-listing {
  background-image: url("http://www.paragonkitchen.com/wp-content/themes/paragonkitchen/img/classes_plaid.png");
  padding-bottom: 50px;
  background-color: #FFFFFF !important;
}

.classes-body {
  background-image: url("http://www.paragonkitchen.com/wp-content/themes/paragonkitchen/img/classes_plaid.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 50px 50px 30px;
}
@media only screen and (max-width: 40em) {
  .classes-body {
    padding: 0px 10px 50px 10px;
  }
}
.classes-body .class-select {
  max-width: 400px;
  padding-top: 70px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 40em) {
  .classes-body .class-select {
    font-size: 1.1rem;
    font-weight: 300;
    color: #222;
    max-width: 600px;
    padding: 0px 20px 50px 20px;
    margin-top: 30px;
  }
}

.calendar-card {
  float: left;
  width: 100%;
  background-color: #FFFFFF;
  padding: 20px 90px 20px 20px;
  box-shadow: 0px 0px 8px #444;
  margin-top: 1.5em;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .calendar-card {
    padding: 20px 30px 20px 20px;
  }
}
@media only screen and (max-width: 40em) {
  .calendar-card {
    padding: 30px 0px 30px 0px;
  }
}
.calendar-card .calendar-card-header {
  float: left;
  padding: .5em 0em .5em 0em;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 2.2rem;
  color: #333;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .calendar-card .calendar-card-header {
    width: 100%;
  }
}
@media only screen and (max-width: 40em) {
  .calendar-card .calendar-card-header {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.2em;
    margin-top: .5em;
  }
}
.calendar-card .calendar-card-text {
  float: left;
  height: auto;
  max-width: 95%;
  padding: 0em 0em .25em 0em;
  margin-bottom: .4em;
}
.calendar-card .calendar-card-text p {
  font-size: 1.1rem;
  line-height: 1.65rem;
}
.calendar-card .calendar-card-date {
  background-color: #71c9f3;
  color: #FFFFFF;
  position: absolute;
  top: 40px;
  right: 2px;
  text-align: right;
  padding: .5em 1em .5em 1em;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  border: 2px solid #FFFFFF;
  word-break: break-all;
  white-space: normal;
}
@media only screen and (max-width: 40em) {
  .calendar-card .calendar-card-date {
    float: left;
    width: 100%;
    background-color: #FFFFFF;
    color: #5ac0f1;
    position: relative;
    text-align: left;
    padding: 0em;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    border: none;
    top: 0px;
    right: 0px;
    margin-bottom: .9em;
  }
}
.calendar-card .active-nav {
  background: transparent;
  background-color: red !important;
  color: #FFFFFF !important;
}

.calendar-card-left {
  float: left;
  width: 20%;
  text-align: center;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .calendar-card-left {
    width: 100%;
  }
}
@media only screen and (max-width: 40em) {
  .calendar-card-left {
    width: 100%;
  }
}

.calendar-card-center {
  float: left;
  width: 70%;
  padding: 0px 0px 0px 30px;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .calendar-card-center {
    width: 100%;
  }
}
@media only screen and (max-width: 40em) {
  .calendar-card-center {
    width: 100%;
    padding-right: 40px;
  }
}

.calendar-card-right {
  float: left;
  width: 10%;
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .calendar-card-right {
    width: 100%;
  }
}
@media only screen and (max-width: 40em) {
  .calendar-card-right {
    width: 100%;
  }
}

.calendar-card-photo img {
  width: 100%;
  max-width: 300px;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .calendar-card-photo img {
    max-width: 1200px;
  }
}

/*
   ____ _        _    ____ ____  _____ ____  
  / ___| |      / \  / ___/ ___|| ____/ ___| 
 | |   | |     / _ \ \___ \___ \|  _| \___ \ 
 | |___| |___ / ___ \ ___) |__) | |___ ___) |
  \____|_____/_/   \_\____/____/|_____|____/ 
                                                                                                                                                                                                                                                                                                                                           
*/
/*
 __     ___    ____  ____  
 \ \   / / \  |  _ \/ ___| 
  \ \ / / _ \ | |_) \___ \ 
   \ V / ___ \|  _ < ___) |
    \_/_/   \_\_| \_\____/ 
                           
*/
/* ## App specific SCSS ## */
/* ## Google Font Imports ## */
.ourclasses-body {
  background-color: #fff;
  padding: 0px 20px 50px 20px;
}

.ourclasses-header {
  margin-bottom: 0em;
}

.ourclasses-list ul {
  list-style: none;
  list-style-type: none;
  margin: 0px 0px 0px 0px;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .ourclasses-list ul {
    margin: 0px 0px 0px 0px;
  }
}
@media only screen and (max-width: 40em) {
  .ourclasses-list ul {
    margin: 0px 0px 0px 0px;
  }
}
.ourclasses-list ul li {
  padding: .7em 1em .7em 1.5em;
  border: 1px solid #00616D;
  font-size: 1.2rem;
}
.ourclasses-list ul li:nth-child(even) {
  background-color: #eeeeee;
}
.ourclasses-list ul li:nth-child(odd) {
  background-color: #ffffff;
}

/*
  _______     _______ _   _ _____ ____  
 | ____\ \   / / ____| \ | |_   _/ ___| 
 |  _|  \ \ / /|  _| |  \| | | | \___ \ 
 | |___  \ V / | |___| |\  | | |  ___) |
 |_____|  \_/  |_____|_| \_| |_| |____/ 
                                                                                                                                                                                                                                                                                                                                      
*/
/*
 __     ___    ____  ____  
 \ \   / / \  |  _ \/ ___| 
  \ \ / / _ \ | |_) \___ \ 
   \ V / ___ \|  _ < ___) |
    \_/_/   \_\_| \_\____/ 
                           
*/
/* ## App specific SCSS ## */
/* ## Google Font Imports ## */
.single-event-left {
  background-color: white;
  padding: 33px 30px 30px 40px;
  margin-top: 20px;
  border: 4px solid #89D2F5;
}

.single-event-right {
  padding: 20px 20px 20px 20px;
}

.events-container {
  padding: 0px 50px 0px 50px;
  min-height: 650px;
}
@media only screen and (max-width: 40em) {
  .events-container {
    padding: 0px 20px 0px 20px;
  }
}

.post-edit-link {
  position: absolute;
  bottom: 140px;
  left: 40px;
  background-color: orange;
  background-color: #FBAA38;
  padding: 8px 12px 8px 12px;
  color: #FFFFFF;
  text-transform: uppercase;
  display: none;
}

.tribe-events-month {
  margin-top: 100px;
}
@media only screen and (max-width: 40em) {
  .tribe-events-month {
    margin-top: 250px;
  }
}

.tribe-events-sub-nav li a {
  background-color: transparent;
}

.tribe-events-single-event-description p img {
  width: 100%;
  max-width: 350px;
  padding: 9px;
  background-color: white;
  box-shadow: 0px 0px 2px #888;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tribe-events-single-section-title {
  display: none;
}

.tribe-events-single {
  margin-top: 100px;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next, #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous, #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next, #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-previous {
    text-align: center;
  }
}
@media only screen and (max-width: 40em) {
  #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next, #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous, #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next, #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-previous {
    text-align: center;
  }
}

.tribe-events-nav-previous {
  background-color: orange;
  color: white;
  padding: 8px 12px 8px 12px;
  text-transform: uppercase;
}
.tribe-events-nav-previous:hover {
  background-color: #ffc04d;
}
.tribe-events-nav-previous a {
  color: white;
}

.tribe-events-nav-next {
  background-color: orange;
  color: white;
  padding: 8px 12px 8px 12px;
  text-transform: uppercase;
}
.tribe-events-nav-next:hover {
  background-color: #ffc04d;
}
.tribe-events-nav-next a {
  color: white;
}

#footer-sidebar {
  margin-top: -80px;
}

.view-calendar-btn {
  float: right;
  text-transform: uppercase;
  font-size: .9rem;
}
@media only screen and (max-width: 40em) {
  .view-calendar-btn {
    margin-top: 80px;
  }
}

.events-paragon-logo {
  position: absolute;
  top: 25px;
  left: 30px;
}
.events-paragon-logo img {
  width: 100%;
  max-width: 190px;
}

.month-view-home-btn {
  position: absolute;
  top: 25px;
  right: 30px;
  text-transform: uppercase;
  font-size: .9rem;
}
@media only screen and (max-width: 40em) {
  .month-view-home-btn {
    width: 92%;
    top: 120px;
    left: 20px;
    font-size: .8rem;
  }
}

.month-view-calendar-btn {
  position: absolute;
  top: 25px;
  right: 245px;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: #777;
  font-size: .9rem;
}
@media only screen and (max-width: 40em) {
  .month-view-calendar-btn {
    width: 92%;
    top: 170px;
    left: 20px;
    font-size: .8rem;
  }
}
.month-view-calendar-btn:hover {
  background-color: #999;
}

.tribe-events-event-meta .column, .tribe-events-event-meta .tribe-events-meta-group {
  padding: 10px 30px 0px 30px;
  width: 100%;
}
.tribe-events-event-meta .column dl dt, .tribe-events-event-meta .tribe-events-meta-group dl dt {
  font-size: 1.4rem;
  margin-top: 20px;
}

.tribe-events-list-widget-events-left {
  float: left;
  width: 85px;
  min-height: 100px;
  background-color: #89D2F5;
  text-align: center;
  padding: 22px 0px 0px 0px;
}
.tribe-events-list-widget-events-left i {
  font-size: 3rem;
  color: white;
}

.tribe-events-list-widget-events-right {
  float: left;
  width: calc(100% - 85px);
  background-color: white;
  padding: 10px 10px 10px 20px;
}

.vcalendar {
  list-style-type: none;
}
@media only screen and (max-width: 40em) {
  .vcalendar {
    margin-top: 10px;
  }
}
.vcalendar a li {
  border: 2px solid #008CBA;
}
.vcalendar a:hover li {
  border: 3px solid #008CBA;
}
.vcalendar a:hover li .tribe-events-list-widget-events-left {
  background-color: #008CBA;
}
.vcalendar li {
  float: left;
  width: 100%;
  background-color: #FFFFFF;
  padding: 0px;
  margin-top: 1.5em;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .vcalendar li {
    padding: 0px;
  }
}
@media only screen and (max-width: 40em) {
  .vcalendar li {
    padding: 0px;
  }
}

/*
  ____  _____ ______     _____ ____ _____ ____  
 / ___|| ____|  _ \ \   / /_ _/ ___| ____/ ___| 
 \___ \|  _| | |_) \ \ / / | | |   |  _| \___ \ 
  ___) | |___|  _ < \ V /  | | |___| |___ ___) |
 |____/|_____|_| \_\ \_/  |___\____|_____|____/ 
                                                                                                                                                                                                                                                                                                                                             
*/
/*
 __     ___    ____  ____  
 \ \   / / \  |  _ \/ ___| 
  \ \ / / _ \ | |_) \___ \ 
   \ V / ___ \|  _ < ___) |
    \_/_/   \_\_| \_\____/ 
                           
*/
/* ## App specific SCSS ## */
/* ## Google Font Imports ## */
.services-checkers {
  float: left;
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  background-image: url("http://www.paragonkitchen.com/wp-content/themes/paragonkitchen/img/checker-border.png");
  background-repeat: repeat-x;
}

.services-body {
  min-height: 200px;
  background-color: #A1E9EB;
  padding: 0px 50px 50px 30px;
  margin-top: -12px;
}
@media only screen and (max-width: 40em) {
  .services-body {
    padding: 0px 15px 50px 15px;
  }
}
.services-body .services-inner {
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}
.services-body .panel-right ul {
  margin-top: -5px;
}
.services-body .panel-right ul li {
  padding-left: 5px;
}
.services-body article.accordion {
  width: 100%;
  margin: 0 auto;
  border: 4px solid #FFFFFF;
}
.services-body header.accordion-header {
  cursor: pointer;
  background: #ddd;
  padding: 5px 5px 5px 5px;
  color: #fff;
  border-bottom: 2px solid #fff;
  transition: background .5s ease-in-out;
  -moz-transition: background .5s ease-in-out;
  -webkit-transition: background .5s ease-in-out;
}
.services-body header.accordion-header h3 {
  color: #333;
  font-size: 1.2rem;
  padding: 0em 0em 0em 1em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.services-body .accordion-selected {
  background-color: #89D2F5 !important;
  z-index: 1000;
  color: #fff;
}
.services-body .accordion-selected h3 {
  color: #FFFFFF !important;
}
.services-body .accordion-content {
  float: left;
  display: none;
  width: 100%;
  background-color: #FFFFFF !important;
  margin-bottom: 10px;
  color: #333;
  font-size: 1.1rem;
  line-height: 1.65rem;
}
.services-body .panel-left {
  float: left;
  width: 20%;
  text-align: center;
  padding: 40px 40px 50px 50px;
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .services-body .panel-left {
    width: 30%;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .services-body .panel-left {
    width: 100%;
    padding: 30px 0px 0px 0px;
  }
}
@media only screen and (max-width: 40em) {
  .services-body .panel-left {
    width: 100%;
    padding: 30px 0px 0px 0px;
  }
}
.services-body .panel-left img {
  width: 100%;
  max-width: 300px;
  background-color: #FFFFFF;
  padding: .35em;
  box-shadow: 0px 0px 8px #444;
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .services-body .panel-left img {
    padding: .35em;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .services-body .panel-left img {
    padding: .35em;
  }
}
@media only screen and (max-width: 40em) {
  .services-body .panel-left img {
    padding: .35em;
  }
}
.services-body .panel-right {
  float: left;
  width: 80%;
  padding: 20px 80px 20px 50px;
  border-left: 2px solid #eeeeee;
  height: 100%;
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .services-body .panel-right {
    width: 70%;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .services-body .panel-right {
    width: 100%;
    padding: 2.2em 2.2em 2.2em 2.2em;
    border-left: none;
  }
}
@media only screen and (max-width: 40em) {
  .services-body .panel-right {
    width: 100%;
    padding: 2.2em 2.2em 2.2em 2.2em;
    border-left: none;
  }
}
.services-body .panel-right h4 {
  font-weight: bold;
  font-size: 2.6rem;
  font-family: "Dancing Script", cursive;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .services-body .panel-right h4 {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 40em) {
  .services-body .panel-right h4 {
    font-size: 2rem;
  }
}
.services-body .panel-right p {
  font-size: 1.1rem;
  line-height: 1.65rem;
}

/*
  _____ _    ___      
 |  ___/ \  / _ \ ___ 
 | |_ / _ \| | | / __|
 |  _/ ___ \ |_| \__ \
 |_|/_/   \_\__\_\___/
                      
*/
/*
 __     ___    ____  ____  
 \ \   / / \  |  _ \/ ___| 
  \ \ / / _ \ | |_) \___ \ 
   \ V / ___ \|  _ < ___) |
    \_/_/   \_\_| \_\____/ 
                           
*/
/* ## App specific SCSS ## */
/* ## Google Font Imports ## */
.faqs-body {
  min-height: 200px;
  padding: 0px 50px 90px 30px;
  background-color: #FFFFFF;
}
@media only screen and (max-width: 40em) {
  .faqs-body {
    padding: 0px 20px 50px 20px;
  }
}
.faqs-body .faqs-inner {
  padding: 0em 1em 0em 1em;
}
.faqs-body .faqs-inner .faqs-block {
  float: left;
  width: 100%;
}
.faqs-body .faqs-inner .faqs-block .faqs-header {
  display: block;
  float: left;
  width: 100%;
  background-color: #ddd;
  color: #333;
  padding: .5em 0em .5em 1em;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  border: 1px solid #FFFFFF;
}
.faqs-body .faqs-inner .faqs-block p {
  display: block;
  float: left;
  width: 100%;
  background-color: #FFFFFF;
  display: none;
  padding: .5em 0em .5em 1em;
  border: 1px solid #ddd;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: #333;
}

.faqs-header:last-child {
  border-bottom: none !important;
}

.activeFAQHeader {
  background-color: #89D2F5 !important;
  color: #FFFFFF !important;
}

.hiddenFAQ {
  display: block !important;
}

/*
   ____ ___  _   _ _____  _    ____ _____ 
  / ___/ _ \| \ | |_   _|/ \  / ___|_   _|
 | |  | | | |  \| | | | / _ \| |     | |  
 | |__| |_| | |\  | | |/ ___ \ |___  | |  
  \____\___/|_| \_| |_/_/   \_\____| |_|  
  
*/
/*
 __     ___    ____  ____  
 \ \   / / \  |  _ \/ ___| 
  \ \ / / _ \ | |_) \___ \ 
   \ V / ___ \|  _ < ___) |
    \_/_/   \_\_| \_\____/ 
                           
*/
/* ## App specific SCSS ## */
/* ## Google Font Imports ## */
.contact-checkers {
  float: left;
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  background-image: url("http://www.paragonkitchen.com/wp-content/themes/paragonkitchen/img/checker-border_blue.png");
  background-repeat: repeat-x;
}

.contact-body {
  min-height: 200px;
  padding: 0px 50px 50px 30px;
  background-color: #b8e4f9;
  margin-top: -15px;
}
@media only screen and (max-width: 40em) {
  .contact-body {
    padding: 0px 20px 50px 20px;
  }
}
.contact-body .contact-inner .contact-inner-left {
  float: left;
  width: 40%;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .contact-body .contact-inner .contact-inner-left {
    width: 100%;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 40em) {
  .contact-body .contact-inner .contact-inner-left {
    width: 100%;
    margin-top: 30px;
  }
}
.contact-body .contact-inner .contact-inner-left .contact-info {
  margin-top: 20px;
}
.contact-body .contact-inner .contact-inner-left .contact-info span {
  font-weight: bold;
  font-size: 1.4rem;
}
.contact-body .contact-inner .contact-inner-left .contact-info a {
  float: left;
  width: 100%;
  margin-top: 10px;
}
.contact-body .contact-inner .contact-inner-right {
  float: left;
  width: 60%;
  padding: 0px 50px 0px 50px;
  margin-top: -80px;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .contact-body .contact-inner .contact-inner-right {
    width: 100%;
    margin-top: 0px;
  }
}
@media only screen and (max-width: 40em) {
  .contact-body .contact-inner .contact-inner-right {
    width: 100%;
    margin-top: 0px;
    padding: 0px 10px 0px 10px;
  }
}
.contact-body .contact-inner .google-map {
  padding: 0px 20px 0px 20px;
}
.contact-body .contact-inner .contact-form {
  margin-top: 10px;
}

.wpcf7-response-output {
  margin: 0px !important;
  padding: .5em 1em .5em 1em;
}

div.wpcf7-mail-sent-ok {
  border: 0px;
  border: none !important;
  background-color: #AAC750;
  color: #FFFFFF;
}

div.wpcf7-validation-errors {
  border: 0px;
  border: none !important;
  background-color: #A60F1B;
  color: #FFFFFF;
}

.nav_elements {
  color: white !important;
}
@media only screen and (max-width: 40em) {
  .nav_elements {
    padding: 0px !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
  }
}

.nav_elements a {
  color: white !important;
}
.nav_elements a:hover {
  color: #333 !important;
}
@media only screen and (max-width: 40em) {
  .nav_elements a:hover {
    color: #fff !important;
  }
}
@media only screen and (max-width: 40em) {
  .nav_elements a {
    padding: 0px !important;
  }
}

.footer {
  background-color: transparent;
  color: #FFFFFF;
  font-size: .9rem;
  text-align: center;
  padding: 5px 10px 0px 10px;
}
.footer .footer-left {
  float: left;
  width: 50%;
  text-align: left;
  padding-left: 30px;
}
.footer .footer-right {
  float: left;
  width: 50%;
  text-align: right;
  padding-right: 30px;
}

#silouette_pan {
  position: absolute;
  right: 50px;
  top: 820px;
  z-index: 10000;
  display: none;
}
